version: "3.9"

services:
  web:
    build: .
    image: mynginx
    container_name: mynginx
    ports:
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./html:/usr/share/nginx/html:ro
